// $background-gradient: linear-gradient(rgba(36,70,105,.74), rgba(36,70,105,.74));
$background-gradient: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
$search-green: #5aaa55;

.mb-title {
  padding-top: 2rem;
  text-align: center;
}

.mb-title-image {
  height: 100px;
}

@media(max-width: 640px) {
  .mb-title-image {
    height: 50px;
  }
}

.mb-menubar {
  background: #eb743b1f;
  margin: 0;
  width: 100%;
  display: flex;
}

.mb-menubar-dropdown {
  border: 0;
  font-weight: 600;
  font-size: 1.1rem;
  background: none;
  margin-right: 8px;
  margin-left: 4px;
  color: #eb743b;
}

.mb-menubar-dropdown-arrow {
  margin-bottom: -2px;
  padding-left: .3rem;
  width: .8rem;
}

.mb-menubar-logo {
  padding: 8px;
}

@media (orientation: portrait) {
  .mb-menubar-logo {
    height: 50px;
  }
}

.mb-menubar-create {
  margin-left: auto;
  margin-right: 2.4rem;
}

.mb-menubar-create-icon {
  width: 1rem;
  margin-bottom: -2px;
  padding-right: .1rem;
}

.mb-menubar-user {
}

.mb-menubar-user-icon {
  margin-bottom: -2px;
  width: 1rem;
  padding-right: .1rem;
}

  .mb-body {
    background-image: $background-gradient, url("img/responsive/background-3840.jpg");
    background-size: 100%;
    margin: 0;
  }

  @media (max-aspect-ratio: 8/5){
    .mb-body {
      background-size: auto 100vh;
    }
  }

  @media(orientation: landscape) {
    .mb-title {
      color: cyan;
    }

    @media(max-width: 1920px){
      .mb-body {
        background-image: $background-gradient, url("img/responsive/background-1920.jpg");
      }
    }

    @media(max-width: 1280px){
      .mb-body {
        background-image: $background-gradient, url("img/responsive/background-1280.jpg");
      }
    }

    @media(max-width: 640px){
      .mb-body {
        background-image: $background-gradient, url("img/responsive/background-640.jpg");
      }
    }
  }

  @media(orientation: portrait) {
    @media(max-height: 1200px){
      .mb-body {
        background-image: $background-gradient, url("img/responsive/background-1920.jpg");
      }
    }

    @media(max-height: 800px){
      .mb-body {
        background-image: $background-gradient, url("img/responsive/background-1280.jpg");
      }
    }

    @media(max-height: 400px){
      .mb-body {
        background-image: $background-gradient, url("img/responsive/background-640.jpg");
      }
    }
  }

  .mb-search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 50px;
    width: 750px; }

  .mb-search-input {
    height: 100%;
    font-size: 1.2rem;
    padding-left: .5rem;
    width: 90%;
    border-radius: 6px 0px 0px 6px;
    background: #20202073;
    border: 1px solid #ba478f;
    // this one is cool 
  }

  .mb-search-button {
    height: 100%;
    width: 10%;
    padding-bottom: 1px;
    border-left: 0;
    // border-right: 3px solid $search-green;
    // border-top: 2px solid $search-green;
    // border-bottom: 3px solid $search-green;
    // border-radius: 0px 6px 6px 0px;
    // background: $search-green; 
    border-right: 1px solid #ba478f;
    border-top: 1px solid #ba478f;
    border-bottom: 1px solid #ba478f;
    border-radius: 0px 6px 6px 0px;
    background: #eb743b;
    }

  .mb-search-button-image {
    height: 15px; }

    .mb-buttons {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
      margin-bottom: 3rem;
      height: 50px;
      width: 800px; }

      .mb-button {
        flex: 1;
        margin-left: 25px;
        margin-right: 25px;
        background-color: #6a6758;
        border-color: #6a6758;
        color: white;
        font-size: 1.1rem;
      }

@media(max-width: 840px){
  .mb-search {
    width: 90%;
  }

  .mb-search-button {
    width: 50px;
  }

  .mb-search-input {
    width: 80%;
  }

  .mb-buttons {
    width: 100%;
    // flex-direction: column;
  }

  .mb-button {
    max-width: 216px;
  //   flex: 1;
  //   margin-top: 0px;
  //   margin-bottom: 0px;
  //   margin-left: 0px;
  //   margin-right: 0px;
  }
}

@media (max-width: 360px) {
  .mb-buttons {
    flex-direction: column;
    width: 216px; }
  .mb-button {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 16px;} }


.mb-contact-us {
  h1 {
    color: blue;
  }
}
